<div style="border:5px solid black;width:70%;border-radius:15px;padding:15px" >
<h1 >Login </h1>

<form>
  
    <div class="form-group">
      <label for="exampleInputEmail1">Username </label>
      <input type="Username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">

    
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    
    <button type="submit" routerLink="/home" class="btn btn-dark">Login</button>
    <a routerLink="/signup">New User?SignUp here!  </a>
    </div></div>
  </form>